.gfs-didot-regular {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
}

.zen-kaku-gothic-new-light {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oswald-headline {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  padding: 0px 30px;
  color: #323232;
  box-sizing: border-box;
}

#header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0px 0px 20px 0px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#header h1 {
  margin: 20px 0px 0px 0px;
  color: #323232;
  font-family: "Oswald", sans-serif;
  font-size: 90px;
}
#header a {
  margin: 0px 0px 0px 10px;
  font-family: Verdana;
  text-decoration: none;
  color: #a72f2f;
}
#header a:hover {
  font-weight: bold;
}

#content-container {
  padding: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#content-container #side-container {
  background-color: rgb(243, 251, 236);
  border-radius: 10px;
  padding: 50px 30px;
  max-width: 15%;
  display: flex;
  flex-direction: column;
}
#content-container #side-container h1 {
  justify-content: flex-end;
  align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 140px;
  line-height: 0.65;
  margin: 0px;
}
#content-container #side-container h2 {
  justify-content: flex-start;
  align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  margin: 0px;
}
#content-container #side-container a {
  margin: 0px 10px;
  font-family: Verdana;
  text-decoration: none;
}
#content-container #main-container {
  padding: 300px 30px 30px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#content-container #main-container #more-projects-link {
  margin: 20px 10px;
  font-family: Verdana;
  text-decoration: none;
  flex-basis: 80%;
  text-align: right;
}
#content-container #main-container .project-card {
  border: 1px solid black;
  border-radius: 8px;
  max-width: 25%;
  padding: 10px;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content-container #main-container .project-card img {
  max-width: 100%;
  filter: grayscale(100%);
}
#content-container #main-container .project-card img:hover {
  max-width: 100%;
  filter: none;
}
#content-container #main-container .project-card .text-container {
  padding: 5px 10px 20px 10px;
}
#content-container #main-container .project-card .text-container h3 {
  margin: 10px 0px;
  font-size: 20px;
}
#content-container #main-container .project-card .text-container p {
  margin: 20px 0px 40px 0px;
  font-size: 14px;
  font-family: "GFS Didot", serif;
}
#content-container #main-container .project-card .text-container a {
  text-align: right;
  margin: 20px 10px;
  font-size: 16px;
  font-family: Verdana;
  text-decoration: none;
}
#content-container #main-container .project-card .text-container select {
  padding: 5px;
}

#footer {
  background-color: #ffffff;
  border: 1px solid black;
  padding: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .text-container h4 {
  margin: 10px 0px 0px 0px;
  font-family: "GFS Didot", serif;
  font-size: 14px;
}
#footer .text-container p {
  text-align: center;
  margin: 20px 0px 0px 0px;
  font-family: "GFS Didot", serif;
  font-size: 14px;
}
#footer #footer-links-container {
  margin: 10px;
}
#footer #footer-links-container i {
  font-size: 26px;
}
#footer #footer-links-container a {
  text-decoration: none;
  color: #323232;
}/*# sourceMappingURL=styles.css.map */