.gfs-didot-regular {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
}

.zen-kaku-gothic-new-light {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oswald-headline {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.urbanist-text {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  padding: 0px 30px;
  background-color: #fceee5;
  min-height: 100vh;
  box-sizing: border-box;
}

#header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0px 0px 20px 0px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#header h1 {
  margin: 20px 0px 0px 0px;
  color: #323232;
  font-family: "Oswald", sans-serif;
  font-size: 90px;
}
#header a {
  margin: 0px 0px 0px 10px;
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
  color: #a72f2f;
}
#header a:hover {
  font-weight: bold;
}

#content-container {
  padding: 30px 0px;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
#content-container #side-container {
  border-radius: 10px;
  padding: 50px 30px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}
#content-container #side-container h1 {
  color: #c5390a;
  justify-content: flex-end;
  align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 15rem;
  line-height: 0.65;
  margin: 0px;
}
#content-container #side-container h2 {
  color: #c5390a;
  justify-content: flex-start;
  align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 6.5rem;
  margin: 0px;
}
#content-container #side-container #text-link-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#content-container #side-container #text-link-container #text-box {
  justify-content: flex-end;
  align-items: flex-end;
}
#content-container #side-container #text-link-container #text-box p {
  color: #232323;
  align-self: center;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  margin: 0px;
}
#content-container #side-container #text-link-container #colour-container {
  background-color: #ffe96b;
  width: 80%;
  height: 15px;
  margin: 0px;
  position: fixed;
  z-index: 10;
}
#content-container #side-container #text-link-container #side-container-links {
  z-index: 11;
}
#content-container #side-container #text-link-container #side-container-links a {
  margin: 0px 10px;
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
  color: #323232;
}
#content-container #side-container-contact {
  border-radius: 10px;
  padding: 50px 30px;
  max-width: 15%;
  display: flex;
  flex-direction: column;
}
#content-container #side-container-contact h1 {
  color: #c5390a;
  justify-content: flex-end;
  align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 8rem;
  line-height: 0.65;
  margin: 0px;
}
#content-container #side-container-contact h2 {
  color: #c5390a;
  justify-content: flex-start;
  align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  margin: 0px;
}
#content-container #side-container-contact #text-link-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#content-container #side-container-contact #text-link-container #text-box {
  justify-content: flex-end;
  align-items: flex-end;
}
#content-container #side-container-contact #text-link-container #text-box p {
  align-self: center;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  margin: 0px;
}
#content-container #side-container-aboutme {
  padding: 40px 30px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}
#content-container #side-container-aboutme h1 {
  color: #c5390a;
  justify-content: flex-end;
  align-self: flex-start;
  font-family: "Oswald", sans-serif;
  font-size: 8rem;
  line-height: 0.65;
  margin: 0px;
  z-index: 11;
}
#content-container #side-container-aboutme h2 {
  color: #c5390a;
  justify-content: flex-start;
  align-self: flex-start;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  margin: 0px;
  z-index: 11;
}
#content-container #side-container-aboutme img {
  max-height: 81vh;
  margin: 20px 15px 0px 20px;
  position: fixed;
  bottom: 0;
  z-index: 10;
}
#content-container #side-container-aboutme #text-link-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#content-container #side-container-aboutme #text-link-container #text-box {
  justify-content: flex-end;
  align-items: flex-end;
}
#content-container #side-container-aboutme #text-link-container #text-box p {
  align-self: center;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  margin: 0px;
}
#content-container #side-container-projects {
  padding: 40px 30px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}
#content-container #side-container-projects h1 {
  color: #c5390a;
  justify-content: flex-end;
  align-self: flex-start;
  font-family: "Oswald", sans-serif;
  font-size: 8rem;
  line-height: 0.65;
  margin: 0px;
  z-index: 11;
}
#content-container #side-container-projects h2 {
  color: #c5390a;
  justify-content: flex-start;
  align-self: flex-start;
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  margin: 0px;
  z-index: 11;
}
#content-container #side-container-projects #text-box {
  justify-content: flex-end;
  align-items: flex-end;
}
#content-container #side-container-projects #text-box p {
  color: #232323;
  align-self: center;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  margin: 0px;
}
#content-container #main-container {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#content-container #main-container #text-box {
  margin: 20px 10px;
}
#content-container #main-container #text-box p {
  justify-content: flex-start;
  align-self: flex-start;
  font-family: "Urbanist", sans-serif;
  font-size: 1.5rem;
  margin: 0px;
}
#content-container #main-container #link-section {
  margin: 250px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#content-container #main-container #link-section a {
  margin: 30px 10px;
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #323232;
}
#content-container #main-container #link-section a:hover {
  font-weight: bold;
}
#content-container #main-container #more-projects-link {
  margin: 20px 10px;
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
  flex-basis: 80%;
  text-align: right;
}
#content-container #main-container .project-card {
  border: 1px solid black;
  border-radius: 8px;
  max-width: 20%;
  padding: 10px;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content-container #main-container .project-card img {
  max-width: 100%;
  filter: grayscale(100%);
}
#content-container #main-container .project-card img:hover {
  max-width: 100%;
  filter: none;
}
#content-container #main-container .project-card .text-container {
  padding: 5px 10px 20px 10px;
}
#content-container #main-container .project-card .text-container p {
  margin: 20px 0px 40px 0px;
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
}
#content-container #main-container .project-card .text-container a {
  text-align: right;
  margin: 20px 10px;
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
}
#content-container #main-container .project-card .text-container select {
  padding: 5px;
}
#content-container #main-container-contact {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#content-container #main-container-contact #text-box {
  background-color: beige;
  margin: 20px 10px;
}
#content-container #main-container-contact #text-box p {
  justify-content: flex-start;
  align-self: flex-start;
  font-family: "Urbanist", sans-serif;
  font-size: 1.5rem;
  margin: 0px;
}
#content-container #main-container-contact #link-section {
  background-color: #edad93;
  margin: 250px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#content-container #main-container-contact #link-section a {
  margin: 30px 10px;
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #323232;
}
#content-container #main-container-contact #link-section a:hover {
  font-weight: bold;
}
#content-container #main-container-aboutme {
  padding: 40px 20px 40px 30px;
  max-width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#content-container #main-container-aboutme #text-box {
  margin: 15px;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
#content-container #main-container-aboutme #text-box h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  margin: 10px 0px;
}
#content-container #main-container-aboutme #text-box p {
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  margin: 0px;
}
#content-container #main-container-aboutme img {
  max-height: 90vh;
  margin: 20px 15px 0px 20px;
  position: fixed;
  bottom: 0;
}
#content-container #main-container-aboutme #link-section {
  margin: 250px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#content-container #main-container-aboutme #link-section a {
  margin: 30px 10px;
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #323232;
}
#content-container #main-container-aboutme #link-section a:hover {
  font-weight: bold;
}
#content-container #main-container-projects {
  padding: 40px 20px 40px 30px;
  max-width: 70%;
  max-height: 80vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#content-container #main-container-projects #project-box {
  margin: 30px 10px 10px 10px;
  padding: 65px 10px 0px 10px;
  max-width: 65%;
  max-height: 95%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
#content-container #main-container-projects #project-box .project-card {
  display: flex;
  flex-direction: row;
  max-width: 95%;
  margin: 0px 15px 15px 15px;
}
#content-container #main-container-projects #project-box .project-card img {
  border-radius: 2px;
  width: 35%;
  margin: 0px;
}
#content-container #main-container-projects #project-box .project-card .modal-button {
  background-color: #fceee5;
  font-family: "Urbanist", sans-serif;
  font-size: 0.8rem;
  color: #232323;
  border-radius: 5px;
  border: 1px solid #232323;
  margin: 10px 25px;
  padding: 5px;
}
#content-container #main-container-projects #project-box .project-card .modal-button:hover {
  background-color: #c5390a;
  color: white;
  border: 1px solid #c5390a;
}
#content-container #main-container-projects #project-box .project-card .project-card-textbox {
  max-width: 45%;
}
#content-container #main-container-projects #project-box .project-card .project-card-textbox h3 {
  font-family: "Urbanist", sans-serif;
  margin: 20px 20px 10px 25px;
  font-size: 1.5rem;
}
#content-container #main-container-projects #project-box .project-card .project-card-textbox p {
  font-family: "Urbanist", sans-serif;
  font-size: 0.8rem;
  margin: 10px 25px;
}
#content-container #main-container-projects #project-box .project-card #modal {
  display: none;
  position: fixed;
  z-index: 15;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#content-container #main-container-projects #project-box .project-card .modal-content {
  background-color: #fceee5;
  margin: auto;
  padding: 20px;
  border: 1px solid #a72f2f;
  width: 60%;
  display: flex;
  flex-direction: column;
}
#content-container #main-container-projects #project-box .project-card .modal-content #link-container-projects {
  padding: 0px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content-container #main-container-projects #project-box .project-card .modal-content #link-container-projects a {
  font-family: "Urbanist", sans-serif;
  text-decoration: none;
  color: #232323;
  font-size: 1.8rem;
  margin: 10px 0px 0px 20px;
  padding: 0px;
}
#content-container #main-container-projects #project-box .project-card .modal-content #link-container-projects img {
  padding: 0px;
  margin: 0px;
  width: 2rem;
}
#content-container #main-container-projects #project-box .project-card .modal-content #image-container-projects {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
#content-container #main-container-projects #project-box .project-card .modal-content #image-container-projects img {
  height: 250px;
  width: 30%;
  margin: 10px;
}
#content-container #main-container-projects #project-box .project-card .close {
  color: #aaaaaa;
  float: right;
  font-size: 14px;
  font-weight: bold;
}
#content-container #main-container-projects #project-box .project-card .close:hover, #content-container #main-container-projects #project-box .project-card .close:hover {
  color: #c5390a;
  text-decoration: none;
  cursor: pointer;
}
#content-container #main-container-projects #project-box h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  margin: 10px 0px;
  width: 100%;
}
#content-container #main-container-projects #link-section {
  margin: 250px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#content-container #main-container-projects #link-section a {
  margin: 30px 10px;
  font-family: "Urbanist", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  color: #323232;
}
#content-container #main-container-projects #link-section a:hover {
  font-weight: bold;
}

#footer {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px 0px;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer #footer-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footer #footer-content-container p {
  color: #323232;
  text-align: center;
  margin: 15px 10px;
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  align-items: center;
}
#footer #footer-content-container #footer-links-container {
  margin: 10px;
}
#footer #footer-content-container #footer-links-container i {
  font-size: 26px;
}
#footer #footer-content-container #footer-links-container a {
  text-decoration: none;
  color: #323232;
}/*# sourceMappingURL=styles.css.map */