$fontHeader: "Oswald", sans-serif;
$fontHeadlines: "GFS Didot", serif;
$fontText: "GFS Didot", serif;
$fontLinks: Verdana;

$fontSizeHeader: 90px;
$fontSizeHeadlines: 20px;
$fontSizeText: 14px;
$fontsizeLinks: 16px;

.gfs-didot-regular {
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
  }

  .zen-kaku-gothic-new-light {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-headline {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  


@media (max-width: 576px) {}

body {
    padding: 0px 30px;
    color: #323232;
    box-sizing: border-box;

}

#header {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px 0px 20px 0px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
   

    h1 {
        margin: 20px 0px 0px 0px;
        color: #323232;
        font-family: $fontHeader;
        font-size: $fontSizeHeader;
    }

    a {
        margin: 0px 0px 0px 10px;
        font-family: $fontLinks;
        text-decoration: none;
        color: #a72f2f;
    }

    a:hover {
        font-weight: bold;
    }
}

#content-container {
    
    padding: 30px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;

    #side-container {
        background-color: rgb(243, 251, 236);
        border-radius: 10px;
        padding: 50px 30px;
        max-width: 15%;
        display: flex;
        flex-direction: column;

        h1 {
            justify-content: flex-end;
            align-self: center;
            font-family: $fontHeader;
            font-size: 140px;
            line-height: 0.65;
            margin: 0px;
            
            
        }

        h2 {
            justify-content: flex-start;
            align-self: center;
            font-family: $fontHeader;
            font-size: 60px;
            margin: 0px;
            
            
        }

        a {
            margin: 0px 10px;
            font-family: $fontLinks;
            text-decoration: none;
        }
    }

    #main-container {
        
        padding: 300px 30px 30px 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        #more-projects-link {
            margin: 20px 10px;
            font-family: $fontLinks;
            text-decoration: none;
            flex-basis: 80%;
            text-align: right;
        }

        .project-card {
            
            border: 1px solid black;
            border-radius: 8px;
            max-width: 25%;
            padding: 10px;
            margin: 10px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center; 

            img {
                max-width: 100%;
                filter: grayscale(100%);
            }

            img:hover {
                max-width: 100%;
                filter: none;
            }

            .text-container {
                padding: 5px 10px 20px 10px;

                h3 {
                    margin: 10px 0px;
                    font-size: $fontSizeHeadlines;
                }
    
                p {
                    margin: 20px 0px 40px 0px;
                    font-size: $fontSizeText;
                    font-family: $fontText;
                }
    
                a {
                    text-align: right;
                    margin: 20px 10px;
                    font-size: $fontsizeLinks;
                    font-family: $fontLinks;
                    text-decoration: none;
                    
                }

                select {
                    padding: 5px;
                }

            }

        }
    }
}

#footer {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
        margin: 10px 0px 0px 0px;
        font-family: $fontHeadlines;
        font-size: $fontSizeText;
    }

    p {
        text-align: center;
        margin: 20px 0px 0px 0px;
        font-family: $fontText;
        font-size: $fontSizeText;
    }

    }

    #footer-links-container {
        margin: 10px;

        i {
            font-size: 26px;
        }

        a {
            text-decoration: none;
            color: #323232;
        }
    }
}