$fontHeader: "Oswald", sans-serif;
$fontHeadlines: "Urbanist", sans-serif;
$fontText: "Urbanist", sans-serif;
$fontLinks: "Urbanist", sans-serif;

$fontSizeHeader: 90px;
$fontSizeHeadlines: 20px;
$fontSizeText: 14px;
$fontSizeTextFooter: 14px;
$fontsizeLinks: 16px;

$colorHeadLine: #c5390a;
$colorBtn: $colorHeadLine;
$colorText: #232323;
$colorBackground: #fceee5;

.gfs-didot-regular {
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
  }

  .zen-kaku-gothic-new-light {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

// <weight>: Use a value from 200 to 700

.oswald-headline {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

// <weight>: Use a value from 100 to 900

.urbanist-text {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style:normal;
  }
  


@media (max-width: 576px) {}

body {
    padding: 0px 30px;
    background-color: $colorBackground;
    min-height: 100vh;
    box-sizing: border-box;

}

#top-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; 

    #link-section {
        position: fixed;
        width: 95%;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-end;

        a {
            margin: 10px;
            font-family: $fontLinks;
            font-size: 2rem;
            text-decoration: none;
            color: #323232;
        }

        a:hover {
            font-weight: bold;
        }
    }     
}

#content-container {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #main-container-homepage {
        border-radius: 10px;
        padding-top: 10%;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            color: $colorHeadLine;
            justify-content: flex-end;
            align-self: center;
            font-family: $fontHeader;
            font-size: 15rem;
            line-height: 0.70;
            margin: 0px;   
        }

        h2 {
            color: $colorHeadLine;
            justify-content: flex-start;
            align-self: center;
            font-family: $fontHeader;
            font-size: 6.5rem;
            margin: 0px;            
        }

        #text-link-container {
            display:flex;
            justify-content: space-between;
            align-items: center;

            #text-box {
                justify-content: flex-end;
                align-items: flex-end;
    
                p {
                    color: $colorText;
                    align-self: center;
                    font-family: $fontHeadlines;
                    font-size: 20px;
                    margin: 0px 2px;

                }

            }

            #main-container-links {

                a {
                    margin: 0px 10px 0px 2px;
                    font-family: $fontLinks;
                    text-decoration: none;
                    color: #323232;

                    img {
                        height: 2rem;
                    }
                }
            }

        }
 
    }
}
    
#content-container-aboutme {
    padding-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;  

    #side-container-aboutme {
        padding-top:35px;
        padding-left: 60px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;  
    
        h1 {
            color: $colorHeadLine;
            justify-content: flex-end;
            align-self: flex-end;
            font-family: $fontHeader;
            font-size: 8rem;
            line-height: 0.65;
            margin: 0px;   
            z-index: 11;
        }
    
        h2 {
            color: $colorHeadLine;
            justify-content: flex-start;
            align-self: flex-end;
            font-family: $fontHeader;
            font-size: 3.5rem;
            margin: 0px; 
            z-index: 11;           
        }
    
        img {
            max-height: 80vh;
            margin: 20px 15px 0px 20px;
            position: fixed;
            bottom: -2%;
            left: 4%;
            z-index: 10;
        }
     
    }

    #main-container-aboutme {
        padding: 40px 20px 40px 30px;
        max-width: 60%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-self: flex-end;
        align-items: flex-end;
            
    
        #text-box {    
            padding-top: 200px;
            margin: 20px;
            max-width: 65%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
               
            h2 {
                font-family: $fontHeadlines;
                font-size:2rem;
                margin: 10px 0px;
            }
            
            p {
                font-family: $fontHeadlines;
                font-size:1rem;
                margin: 0px;
            }
    
        }
    
        img {
            max-height: 90vh;
            margin: 20px 15px 0px 20px;
            position: fixed;
            bottom: 0;
        }
    
        #link-section {
            margin: 250px 0px 30px 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
    
            a {
                margin: 30px 10px;
                font-family: $fontLinks;
                font-size: 2rem;
                text-decoration: none;
                color: #323232;
            }
    
            a:hover {
                font-weight: bold;
            }
        }
    }
}

#content-container-projects {
    padding-top: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;  

    
    #side-container-projects {     
        padding-top:35px;
        padding-left: 60px;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;  
        
    h1 {
        color: $colorHeadLine;
        justify-content: flex-end;
        align-self: flex-end;
        font-family: $fontHeader;
        font-size: 8rem;
        line-height: 0.65;
        margin: 0px;   
        z-index: 11;
    }
        
    h2 {
        color: $colorHeadLine;
        justify-content: flex-start;
        align-self: flex-end;
        font-family: $fontHeader;
        font-size: 3.5rem;
        margin: 0px; 
        z-index: 11;           
    }

    #project-info-container {
        padding-top: 100px;
        max-width: 75%;
        color: $colorText;
        font-family: $fontText;
        font-size: $fontSizeText;
        text-align: end;

        #link-container-projects {
            text-decoration: none;
            padding-top: 16px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            a {
                margin: 0px 10px 0px 2px;
                font-family: $fontLinks;
                text-decoration: none;
                color: #323232;

                img {
                    height: 1.5rem;
                }

                i {
                    font-size: 1.2rem;
                }
            }
        }
    }
         
}
    
        #main-container-projects {
            padding: 40px 20px 40px 30px;
            max-width: 60%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-self: flex-end;
            align-items: flex-end;
        

            #project-box {
                margin: 20px 0px 10px 0px;
                padding-top: 130px;
                padding-left: 20px;
                max-width: 90%;
               
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: flex-start;

                .project-card {
                    display: flex;
                    flex-direction: row;
                    max-width: 30%;
                    margin: 10px;

                    img {
                        border-radius: 2px;
                        width: 100%;
                   
                    }
        
                }
            }
        }
    }

#footer {
   background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    #footer-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    p {
        color: #323232;
        text-align: center;
        margin: 15px 10px;
        font-family: $fontText;
        font-size: $fontSizeTextFooter;
        align-items: center;
    }

    #footer-links-container {
        margin: 10px;

        i {
            font-size: 26px;
        }

        a {
            text-decoration: none;
            color: #323232;
        }
    }

    }

    
}