$fontHeader: "Oswald", sans-serif;
$fontHeadlines: "Urbanist", sans-serif;
$fontText: "Urbanist", sans-serif;
$fontLinks: "Urbanist", sans-serif;

$fontSizeHeader: 90px;
$fontSizeHeadlines: 20px;
$fontSizeText: 14px;
$fontSizeTextFooter: 14px;
$fontsizeLinks: 16px;

.gfs-didot-regular {
    font-family: "GFS Didot", serif;
    font-weight: 400;
    font-style: normal;
  }

  .zen-kaku-gothic-new-light {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

// <weight>: Use a value from 200 to 700

.oswald-headline {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

// <weight>: Use a value from 100 to 900

.urbanist-text {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style:normal;
  }
  


@media (max-width: 576px) {}

body {
    padding: 0px 30px;
    color: #323232;
    min-height: 100vh;
    box-sizing: border-box;

}

#header {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px 0px 20px 0px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
   

    h1 {
        margin: 20px 0px 0px 0px;
        color: #323232;
        font-family: $fontHeader;
        font-size: $fontSizeHeader;
    }

    a {
        margin: 0px 0px 0px 10px;
        font-family: $fontLinks;
        text-decoration: none;
        color: #a72f2f;
    }

    a:hover {
        font-weight: bold;
    }
}

#content-container {
    padding: 30px 0px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;

    #side-container {
        
        border-radius: 10px;
        padding: 50px 30px;
        max-width: 30%;
        display: flex;
        flex-direction: column;

        h1 {
            justify-content: flex-end;
            align-self: center;
            font-family: $fontHeader;
            font-size: 15rem;
            line-height: 0.65;
            margin: 0px;   
        }

        h2 {
            justify-content: flex-start;
            align-self: center;
            font-family: $fontHeader;
            font-size: 6.5rem;
            margin: 0px;            
        }

        #text-link-container {
            display:flex;
            justify-content: space-between;
            align-items: flex-start;

            #text-box {
                justify-content: flex-end;
                align-items: flex-end;
    
                p {
                    
                    align-self: center;
                    font-family: $fontHeadlines;
                    font-size: 20px;
                    margin: 0px;

                }

            }

            #colour-container {
                background-color: #ffe96b;
                width: 80%;
                height: 15px;
                margin: 0px;
                position: fixed;
                z-index: 10;
            }

            #side-container-links {
                z-index: 11;

                a {
                    margin: 0px 10px;
                    font-family: $fontLinks;
                    text-decoration: none;
                    color: #323232;
                }
            }

        }
 
    }

    #side-container-contact {
        background-color: bisque;
        border-radius: 10px;
        padding: 50px 30px;
        max-width: 15%;
        display: flex;
        flex-direction: column;

        h1 {
            justify-content: flex-end;
            align-self: center;
            font-family: $fontHeader;
            font-size: 8rem;
            line-height: 0.65;
            margin: 0px;   
        }

        h2 {
            justify-content: flex-start;
            align-self: center;
            font-family: $fontHeader;
            font-size: 3.5rem;
            margin: 0px;            
        }

        #text-link-container {
            display:flex;
            justify-content: space-between;
            align-items: flex-start;

            #text-box {
                justify-content: flex-end;
                align-items: flex-end;
    
                p {
                    
                    align-self: center;
                    font-family: $fontHeadlines;
                    font-size: 20px;
                    margin: 0px;
                }

            }


        }
 
    }

    #side-container-aboutme {
        padding: 40px 30px;
        max-width: 30%;
        display: flex;
        flex-direction: column;

        h1 {
            justify-content: flex-end;
            align-self: flex-start;
            font-family: $fontHeader;
            font-size: 8rem;
            line-height: 0.65;
            margin: 0px;   
            z-index: 11;
        }

        h2 {
            justify-content: flex-start;
            align-self: flex-start;
            font-family: $fontHeader;
            font-size: 3.5rem;
            margin: 0px; 
            z-index: 11;           
        }

        img {
            max-height: 81vh;
            margin: 20px 15px 0px 20px;
            position: fixed;
            bottom: 0;
            z-index: 10;
        }

        #text-link-container {
            display:flex;
            justify-content: space-between;
            align-items: flex-start;

            #text-box {
                justify-content: flex-end;
                align-items: flex-end;
    
                p {
                    
                    align-self: center;
                    font-family: $fontHeadlines;
                    font-size: 20px;
                    margin: 0px;
                }

            }


        }
 
    }

    #main-container {
       
        padding: 20px 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        #text-box {
           
            margin: 20px 10px;
            

            p {
                justify-content: flex-start;
                align-self:flex-start;
                font-family: $fontHeadlines;
                font-size:1.5rem;
                margin: 0px;
    
            }

        }

        #link-section {

            margin: 250px 0px 30px 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            a {
                margin: 30px 10px;
                font-family: $fontLinks;
                font-size: 2rem;
                text-decoration: none;
                color: #323232;
            }

            a:hover {
                font-weight: bold;
            }
        }

        #more-projects-link {
            margin: 20px 10px;
            font-family: $fontLinks;
            text-decoration: none;
            flex-basis: 80%;
            text-align: right;
        }

        .project-card {
            
            border: 1px solid black;
            border-radius: 8px;
            max-width: 20%;
            padding: 10px;
            margin: 10px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center; 

            img {
                max-width: 100%;
                filter: grayscale(100%);
            }

            img:hover {
                max-width: 100%;
                filter: none;
            }

            

            .text-container {
                padding: 5px 10px 20px 10px;

                
    
                p {
                    margin: 20px 0px 40px 0px;
                    font-size: $fontSizeText;
                    font-family: $fontText;
                }
    
                a {
                    text-align: right;
                    margin: 20px 10px;
                    font-size: $fontsizeLinks;
                    font-family: $fontLinks;
                    text-decoration: none;
                    
                }

                select {
                    padding: 5px;
                }

            }

        }
    }

    #main-container-contact {
       
        padding: 20px 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        #text-box {
           background-color: beige;
            margin: 20px 10px;
            

            p {
                justify-content: flex-start;
                align-self:flex-start;
                font-family: $fontHeadlines;
                font-size:1.5rem;
                margin: 0px;
    
            }

        }

        #link-section {
            background-color: #edad93;
            margin: 250px 0px 30px 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            a {
                margin: 30px 10px;
                font-family: $fontLinks;
                font-size: 2rem;
                text-decoration: none;
                color: #323232;
            }

            a:hover {
                font-weight: bold;
            }
        }

    }

    #main-container-aboutme {
        padding: 40px 20px 40px 30px;
        max-width: 60%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        #text-box {
           margin: 15px;
           max-width: 65%;
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           justify-content: flex-end;
           
            h2 {
                font-family: $fontHeadlines;
                font-size:2rem;
                margin: 10px 0px;
            }
        
            p {
                font-family: $fontHeadlines;
                font-size:1rem;
                margin: 0px;
            }

        }

        img {
            max-height: 90vh;
            margin: 20px 15px 0px 20px;
            position: fixed;
            bottom: 0;
        }

        #link-section {
            margin: 250px 0px 30px 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            a {
                margin: 30px 10px;
                font-family: $fontLinks;
                font-size: 2rem;
                text-decoration: none;
                color: #323232;
            }

            a:hover {
                font-weight: bold;
            }
        }

    }

    #side-container-projects {
        background-color: #edad93;
        padding: 40px 30px;
        max-width: 30%;
        display: flex;
        flex-direction: column;

        h1 {
            justify-content: flex-end;
            align-self: flex-start;
            font-family: $fontHeader;
            font-size: 8rem;
            line-height: 0.65;
            margin: 0px;   
            z-index: 11;
        }

        h2 {
            justify-content: flex-start;
            align-self: flex-start;
            font-family: $fontHeader;
            font-size: 3.5rem;
            margin: 0px; 
            z-index: 11;           
        }

        #text-box {
            justify-content: flex-end;
            align-items: flex-end;

            p {
                
                align-self: center;
                font-family: $fontHeadlines;
                font-size: 20px;
                margin: 0px;
            }

        }
    }

    #main-container-projects {
        padding: 40px 20px 40px 30px;
        max-width: 70%;
        max-height: 80vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        #project-box {
            margin: 30px 10px 10px 10px;
            max-width: 65%;
            height: 95%;
            overflow: scroll;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;

            .project-card {
                display: flex;
                flex-direction: row;
                max-width: 95%;
                margin: 0px 15px 15px 15px;

                img {
                    width: 30%;
                    margin:0px;
                }

                .project-card-textbox {

                    h3 {
                        font-family: $fontHeadlines;
                        margin: 20px 20px 10px 20px;
                        font-size: 1.5rem;
                    }
    
                    p {
                        font-family: $fontHeadlines;
                        font-size:0.8rem;
                        margin: 10px 20px;
                    }

                }

            }

            .project-card:hover {
                border: 0.5px solid black;
            }
            
             h2 {
                 font-family: $fontHeadlines;
                 font-size:2rem;
                 margin: 10px 0px;
                 width: 100%;
             }
         

            
 
         }

         #link-section {
            margin: 250px 0px 30px 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;

            a {
                margin: 30px 10px;
                font-family: $fontLinks;
                font-size: 2rem;
                text-decoration: none;
                color: #323232;
            }

            a:hover {
                font-weight: bold;
            }
        }
    }
}


#footer {
   background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    #footer-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    p {
        color: #323232;
        text-align: center;
        margin: 15px 10px;
        font-family: $fontText;
        font-size: $fontSizeTextFooter;
        align-items: center;
    }

    #footer-links-container {
        margin: 10px;

        i {
            font-size: 26px;
        }

        a {
            text-decoration: none;
            color: #323232;
        }
    }

    }

    
}